body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    margin: 0;
    padding: 0;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.left .logoBackground {
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    height: 20vh;
    background: rgba(0,0,0,0.65);
    color: white;
    font-size: 3rem;
}

.left .logo {
    height: 80%;
}

.left .credit {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.8rem;
}

a {
    color: white;
}

.logoBackground {
    display: flex;
    justify-content: center;
    width: 100%;
}

img.background {
    height: 100vh;
}

.right {
    padding: 4vw;
    background-color: rgb(237, 245, 238);
    font-size: 1.5rem;
    max-height: 100vh;
}

.right .topContainer {
    --topContainerHeight: 35vh;
    height: var(--topContainerHeight);
    max-height: var(--topContainerHeight);
    overflow: auto;
}

.right .middleContainer {
    background-color: white;
    --middleContainerHeight: 30vh;
    height: var(--middleContainerHeight);
    margin-left: -4vw;
    margin-right: -4vw;
    box-shadow: 0 4px 4px -4px gray;
    padding: 1vw 4vw 0;
}

.formHeader {
    margin-top: 0;
    margin-bottom: 1rem;
}

input {
    border: 1px solid #c0c2c4;
    border-radius: 4px;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0 4px 4px -4px gray;
}

.right .bottomContainer {
    margin-top: 2rem;  
}

.loginText {
    font-size: 1rem;
    font-weight: bold;
}

.loginText a {
    color: #596D48;
}

.hero {
    margin-right: 20vw;
}

.inputLabelPair {
    display: flex;
    flex-direction: column;
}

label {
    order: 1;
    font-size: .8rem;
}

input {
    order: 2;
}

.formList {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    max-width: 45vw;
    overflow: auto;
}

button.signUp {
    background-color: #596D48;
    color: white;
    border-radius: 12px;
    font-size: 1.2rem;
    height: 3rem;
    width: 16rem;
}